@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8f6b00;
  --font-color: #111111;
  --highlight: #ffbf00;
  --nav-height: 50px;
}

body {
  background: var(--background);
  color: var(--font-color);
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}

nav,
footer {
  @apply z-50;
  height: var(--nav-height);
  background-color: var(--gray);
  font-family: "Poppins", sans-serif;
}

* {
  @apply transition-all duration-300;
}

button {
  background: var(--highlight);
  color: var(--background);
}

.highlight {
  background: var(--highlight) !important;
}

section {
  @apply w-full;
  min-height: calc(100vh - var(--nav-height));
}

.shade {
  background: #0000003f;
}
